@using ChooseAndBuy.Web.Areas.Administration.ViewModels.Products

@model EditProductBindingModel

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@{
    ViewData["Title"] = "Edit";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Admin Pane</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Success"].ToString()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        <partial name="~/Areas/Administration/_AdminPanePartial.cshtml" />
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Content Section -->
            <section class="container mt-4 mb-4">
                <div class="row login-form shadow">
                    <div class="col-md-12">
                        <h3 class="text-center">Edit Product</h3>
                    </div>
                    <hr class="w-50 h2" />
                    <form enctype="multipart/form-data" id="account" class="row login_form mt-4" method="post">
                        <div class="row col-md-12 text-align-center">
                            <input hidden asp-for="Id" />
                            <div class="col-sm-6 form-group">
                                <label asp-for="Name" class="float-left"></label>
                                <input readonly asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-2 form-group">
                                <label asp-for="Price" class="float-left"></label>
                                <input asp-for="Price" class="form-control" />

                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="SubCategoryId" class="float-left"></label>
                                <div class="default-select" id="default-select">
                                    <select asp-for="SubCategoryId" class="default-select" asp-items="@Model.SubCategories"></select>
                                </div>
                                <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="Description" class="float-left"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="Specification" class="float-left"></label>
                            <textarea asp-for="Specification" class="form-control"></textarea>
                            <span asp-validation-for="Specification" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 mt-3 text-center">
                            <button class="primary-btn text-center" type="submit" value="submit">Edit</button>
                        </div>
                    </form>
                </div>
            </section>
            <!-- End Content Section -->
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
