@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

    <div class="container">
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-lg-6">
                <div class="login-form shadow-lg mt-3">
                    <div class="col-md-10">
                        <h4 class="text-success">You have successfully confirmed your account.</h4>
                        <h6 class="text-dark">Enjoy shopping at Choose And Buy.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>