@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="~/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 shadow p-3 mb-5 bg-white rounded">
                <div class="register_requirements_form_inner m-3">
                    <h3>Register options</h3>
                    <p>You can register directly through out website, or use one of your social network profiles listed below.</p>
                    <!--Write the register requirements-->
                </div>
            </div>
            <div class="col-lg-6 shadow p-3 mb-5 bg-white rounded">
                <div class="register_form_inner m-3">
                    <h3>Register</h3>
                    <form class="row login_form mt-4" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-md-12 form-group">
                            <label asp-for="Input.Username"></label>
                            <input asp-for="Input.Username" class="form-control" />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
