@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


    <div class="col-md-10">
        <h6>Your account contains personal data that you have given us. This page allows you to download or delete that data.</h6>
        <h6>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </h6>
        <div class="row mt-3">
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group col-md-5">
                <button class="primary-btn btn-warning" type="submit">Download</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger col-md-12">Delete Account</a>
            </p>
        </div>

    </div>

